/* Open Sans Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Open Sans Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Charter Bold (for headings) */
@font-face {
    font-family: 'Charter';
    src: url('./assets/fonts/Charter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(237, 222, 237);
    --aside-bg-color: rgb(220, 200, 230);
    --low-priority-color: rgb(240, 240, 123);
    --medium-priority-color: rgb(243, 195, 106);
    --high-priority-color: rgb(230, 149, 149);
    --completed-task-color: rgb(227, 217, 217);
}

body {
    font-family: "Open Sans", system-ui, sans-serif;
    background-color: var(--main-bg-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

h1,
h2,
h3,
h4 {
    font-family: 'Charter', 'Times New Roman', Times, serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

aside {
    background-color: var(--aside-bg-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.projects-list {
    display: grid;
    gap: 15px;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.project-item.completed {
    order: 998;
    margin-top: 20px;
}

.trash-area {
    order: 999;
    height: 100px;
    width: 80%;
    background-color: red;
    color: white;
    font-style: italic;
    font-family: "Charter", serif;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    margin: 20px auto;

    pointer-events: auto;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.trash-area.active {
    opacity: 1;
}

.project-count {
    font-size: 1.3rem;
}

.project-name {
    font-size: 1.1rem;
    text-decoration: underline;
}

.project-name:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.new-project-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.new-project-btn {
    background-color: #f0f0f0;;
    padding: 5px;
    color: purple;
    border-radius: 5px;
    align-self: center;
    border: none;
}

.new-project-btn:hover {
    cursor: pointer;
}

.new-project-input:focus {
    outline: none;
}

.add-project-btn {
    width: 25px;
    justify-self: center;
}

.add-todo-btn {
    width: 60px;
}

.add-project-btn:hover,
.add-todo-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.todo-list {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 100px;
    row-gap: 30px;
    padding: 30px;
    width: 100%;
    align-items: start;
}

.todo-item {
    border: 2px solid black;
    border-radius: 10px;
}

.todo-item.completed .todo-heading {
    background-color: var(--completed-task-color);
}

.todo-heading {
    color: black;
    display: grid;
    padding: 5px 10px;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    position: relative;
    border-radius: 8px;
}

.todo-tick-box {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;

    position: absolute;
    background-color: rgba(255, 255, 255);
    top: 50%;
    /* position top edge of element at midheight of container*/
    transform: translateY(-50%);
    /* move the element so that center is aligned to midheight instead */
    left: -30px;
}

.todo-tick-box:hover {
    cursor: pointer;
    transform: translateY(-50%) scale(1.1);
}

.todo-heading.details-visible {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.todo-icon {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 1.8rem;
}

.todo-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.todo-heading .title {
    font-size: 1.5rem;
}

.todo-heading .due-date {
    font-size: 1.2rem;
}

.todo-item.overdue .title{
    text-decoration: line-through;
}

.low-priority {
    background-color: var(--low-priority-color);
}

.medium-priority {
    background-color: var(--medium-priority-color);
}

.high-priority {
    background-color: var(--high-priority-color);
}

.todo-details {
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-description {
    /* overflow: scroll; */
    padding-right: 10px;
}

.controllers {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    color: black;
    border-radius: 20px;
}

.edit-btn:hover,
.delete-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.task-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    background-color: white;
    /* display: grid; */
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    font-size: 1.3rem;
    width: 400px;
    border-radius: 5px;
}

.task-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.task-form-title {
    grid-column: 1 / 3;
}

.task-form-title input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.task-form-description {
    grid-column: 1 / 3;
}

.task-form textarea {
    height: 200px;
    padding: 5px;
    width: 100%;
}

.task-form-btn {
    grid-column: 1 / -1;
    justify-self: center;
}

.task-form-priority {
    justify-self: flex-end;
}

.task-form-priority select {
    padding: 5px;
    width: min-content;
    align-self: center;
    text-align: center;
    font-size: 1.0rem;
    background-color: white;
}

.task-form-due-date input {
    padding: 2px;
    font-size: 1.0rem;
    font-family: inherit;
    text-align: center;
    width: min-content;
}

.task-form input,
.task-form select,
.task-form textarea {
    border-radius: 5px;
    border: 1px solid black;
}

.task-form input:focus,
.task-form textarea:focus {
    border: none;
}

.task-form-btn {
    background-color: white;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 1.1rem;
    border: 1px solid black;
}

.task-form-btn:hover {
    cursor: pointer;
}