/* Open Sans Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Open Sans Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Charter Bold (for headings) */
@font-face {
    font-family: 'Charter';
    src: url('./assets/fonts/Charter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-bg-color: rgb(237, 222, 237);
    --low-priority-color: rgb(240, 240, 123);
    --medium-priority-color: rgb(243, 195, 106);
    --high-priority-color: rgb(230, 149, 149);
}

body {
    font-family: "Open Sans", system-ui, sans-serif;
    background-color: var(--light-bg-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Charter', 'Times New Roman', Times, serif;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.todo-item {
    border: 2px solid black;
    border-radius: 10px;
}

.todo-heading {
    color: black;
    display: grid;
    padding: 5px 10px;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    position: relative;
    border-radius: 8px;
}

.todo-tick-box {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;

    position: absolute;
    background-color: rgba(255, 255, 255);
    top: 50%; /* position top edge of element at midheight of container*/
    transform: translateY(-50%); /* move the element so that center is aligned to midheight instead */
    left: -30px;
}

.todo-tick-box:hover {
    cursor: pointer;
    transform: translateY(-50%) scale(1.1);
}

.todo-heading.details-visible {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.todo-icon {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 1.8rem;
}

.todo-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.todo-heading .title {
    font-size: 1.5rem;
}

.todo-heading .due-date {
    font-size: 1.1rem;
}

.low-priority {
    background-color: var(--low-priority-color);
}

.medium-priority {
    background-color: var(--medium-priority-color);
}

.high-priority {
    background-color: var(--high-priority-color);
}

.todo-details {
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.todo-description {
    /* overflow: scroll; */
    padding-right: 10px;
}

.controllers {
    display: flex;
    justify-content: space-between;
}

.priority-btn,
.edit-btn,
.delete-btn {
    color: black;
    padding: 4px 8px;
    border-radius: 20px;
    border: 1px solid black;
}

.priority-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
    cursor: pointer;
}